<section>
  <form action="#" name="EditorForm" (ngSubmit)="submit()">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <input required class="mdl-textfield__input" type="text" name="title" id="title" [(ngModel)]="title">
      <label class="mdl-textfield__label" for="title">Title</label>
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <input required class="mdl-textfield__input" type="text" name="description" id="description" [(ngModel)]="description">
      <label class="mdl-textfield__label" for="description">Description</label>
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <input required class="mdl-textfield__input" type="url" name="youtube" id="youtube" [(ngModel)]="youtube">
      <label class="mdl-textfield__label" for="youtube">Youtube Link</label>
    </div>
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
      Save
    </button>
  </form>
  <div class="mdl-cell mdl-cell--6-col">
    <button class="mdl-button mdl-js-button" [routerLink]="['']">
      Cancel
    </button>
  </div>
</section>
